<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest [
        <!ELEMENT manifest (application)*>
        <!ATTLIST manifest
                xmlns:android CDATA #REQUIRED
                xmlns:tools CDATA #REQUIRED>
        <!ELEMENT application (activity)*>
        <!ATTLIST application
                android:allowBackup CDATA #REQUIRED
                android:dataExtractionRules CDATA #REQUIRED
                android:fullBackupContent CDATA #REQUIRED
                android:icon CDATA #REQUIRED
                android:label CDATA #REQUIRED
                android:roundIcon CDATA #REQUIRED
                android:supportsRtl CDATA #REQUIRED
                android:theme CDATA #REQUIRED
                tools:targetApi CDATA #REQUIRED>
        <!ELEMENT activity (intent-filter)*>
        <!ATTLIST activity
                android:exported CDATA #IMPLIED
                android:name CDATA #REQUIRED>
        <!ELEMENT intent-filter (action|category)*>
        <!ELEMENT action (#PCDATA)>
        <!ATTLIST action
                android:name CDATA #REQUIRED>
        <!ELEMENT category (#PCDATA)>
        <!ATTLIST category
                android:name CDATA #REQUIRED>
        ]>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simplelabexample"
        tools:targetApi="31"
    >
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>